.login-box{
    border: 1px solid red;
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem auto;
}

.listMenu{
    border: 1px solid red ;
    position: absolute;
    height: 90%;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.list-item{
    border: 1px solid red ;
    list-style-type: none;
    background-color: #ccc;
}