.singUp{
    border: 1px solid #ccc ;
    width: 400px;
    height: 400px;
    position: relative;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

fieldset{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 3rem;
    border: none;
}
input{
    border: 1px solid #ccc;
    height: 3rem;
    padding-left: 1rem;
}
.person{
    position: relative;
    width: 120px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.person h3{
    font-size: 1rem;
    color: darkblue;
    font-family: cursive;
    font-weight: bold;

}